@charset "utf-8";

/* fonts import */
@import url();

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

html {height: 100%;}
body {background: #fff; font-family: 'Arial', sans-serif; font-size: 14px; height: 100%;}

/* wrappers */
.wrapper {min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -185px;}
.sub_wrapper {width: 1200px; margin: 0 40px; overflow: hidden;}
.footer_wrapper {width: 1280px; margin: 0 auto; background: #4c4c4c;}

/* header */
header {width: 1280px; margin: 0 auto; background: #fff;}
	.header_wrapper {width: 1200px; margin: 0 40px; overflow: hidden;}
	.sub_wrapper .logo {display: block; position: relative; float: left; background: #fff;}
		.logo a {display: block; position: relative; margin: 12px 0 20px 0;}
	.sub_wrapper nav {display: block; position: relative; float: left; height: 74px; margin: 12px 0 0 95px;}
		nav ul {height: 74px;}
		nav ul li {display: inline-block;}
		nav ul li a {display: inline-block; color: #000; text-decoration: none; padding: 0 23px; line-height: 74px; border-right: 1px solid transparent; border-left: 1px solid transparent;}
		nav ul li a:hover {text-decoration: none; border-right: 1px solid #bebebe; border-left: 1px solid #bebebe;}
		nav ul li a .active {}
	.sub_wrapper .search {display: block; position: relative; float: right; margin-top: 38px; overflow: hidden;}
		.search input {display: block; position: relative; background: url(../img/search.png) 2px 50% no-repeat; padding-left: 20px; height: 19px; width: 86px; border: 1px solid #bebebe;}
		.search ul {margin-top: 10px;}
		.search li {display: inline-block; float: right; text-transform: uppercase; padding-left: 11px;}
		.search li:hover {padding-left: 11px; background: url(../img/switch.png) 3px 50% no-repeat;}
		.search li a {color: #000; text-decoration: none;}
		.search li a:hover {text-decoration: none;}


/* content */
.content {width: 1280px; margin: 0 auto;}




/* footer */
footer, .push {height: 185px; min-width: 1280px;}
footer {background: #4c4c4c; overflow: hidden; margin: 0 auto;}
	footer .contact {display: block; position: relative; float: left; width: 190px;}
		footer .contact h5 {text-transform: uppercase; color: #aaa; font-weight: normal; font-size: 14px; margin-top: 25px;}
		footer .contact h6 {color: #aaa; font-weight: normal; font-size: 14px; margin: 22px 0;}
		footer .contact p {color: #fff;}
		footer .contact p:last-child {margin-bottom: 36px;}
	footer .social {display: block; position: relative; float: left; margin: 118px 0 0 45px;}
		.social li {display: inline-block; margin-right: 6px;}
		.social li:last-child {margin-right: 0;}
		.social li a {display: block; position: relative; width: 33px; height: 33px;}
		.social .in {background: url(../img/social_sprite.png) 0 0 no-repeat;}
		.social .fb {background: url(../img/social_sprite.png) -38px 0 no-repeat;}
		.social .yt {background: url(../img/social_sprite.png) -77px 0 no-repeat;}
		.social .be {background: url(../img/social_sprite.png) -116px 0 no-repeat;}
	footer .copyright {display: block; position: relative; float: right;}
		.copyright h5 {text-transform: uppercase; color: #aaa; font-weight: normal; font-size: 14px; margin-top: 138px;}

/* artists_wrapper */
.artists_nav {width: 100%; height: 50px; border-top: 1px solid #bebebe; border-bottom: 1px solid #bebebe;}
	.artists_nav ul {height: 50px;}
	.artists_nav ul li {display: inline-block;}
	.artists_nav ul li a {display: inline-block; color: #bebebe; text-decoration: none; padding-right: 30px; line-height: 50px; text-transform: uppercase;}
	.artists_nav ul li a:hover {text-decoration: none; color: #000;}
	.artists_nav ul li .active {color: #000;}

.artists_wrapper {width: 100%;}
	.list_column {display: block; position: relative; float: left; width: 220px; margin-right: 200px;}
		.list_item {width: 100%; margin-bottom: 40px;}
		.list_item h5 {text-transform: uppercase; color: #fd0000; font-weight: normal; font-size: 18px; margin-top: 25px;}
		.list_item li {margin-top: 7px;}
		.list_item a {text-decoration: none; color: #bebebe; font-size: 18px;}
		.list_item a:hover {text-decoration: underline;}

	.grid_row {display: block; position: relative; margin-top: 25px;}
		.grid_item {display: block; position: relative; float: left; width: 288px; margin-right: 16px;}
			.grid_item img {width: 288px; height: 204px;}
			.grid_item h6 {text-transform: uppercase; font-weight: normal; font-size: 18px; margin: 10px 0 20px 0;}
			.grid_item a {color: #bebebe; text-decoration: none;}
			.grid_item a:hover {text-decoration: underline;}
		.grid_item:last-child {margin-right: 0;}	




