@charset "utf-8";

/* fonts import */
@import url();

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #fff; font-family: 'Arial', sans-serif; font-size: 14px;}

/* wrapper */
.wrapper {background: #fff;}

/* header */
header {width: 1200px; margin: 0 auto; background: #fff; overflow: hidden;}
	header .logo {display: block; position: relative; float: left; background: #fff;}
		.logo a {display: block; position: relative; margin: 12px 0 20px 0;}
	header nav {display: block; position: relative; float: left; height: 74px; margin: 12px 0 0 95px;}
		nav ul {height: 74px;}
		nav ul li {display: inline-block;}
		nav ul li a {display: inline-block; color: #000; text-decoration: none; padding: 0 23px; line-height: 74px; border-right: 1px solid transparent; border-left: 1px solid transparent;}
		nav ul li a:hover {text-decoration: none; border-right: 1px solid #bebebe; border-left: 1px solid #bebebe;}
		nav ul li a .active {}
	header .search {display: block; position: relative; float: right; margin-top: 38px; overflow: hidden;}
		.search input {display: block; position: relative; background: url(../img/search.png) 2px 50% no-repeat; padding-left: 20px; height: 19px; width: 86px; border: 1px solid #bebebe;}
		.search ul {margin-top: 10px;}
		.search li {display: inline-block; float: right; text-transform: uppercase; padding-left: 11px;}
		.search li:hover {padding-left: 11px; background: url(../img/switch.png) 3px 50% no-repeat;}
		.search li a {color: #000; text-decoration: none;}
		.search li a:hover {text-decoration: none;}




